/* Atributes of page body */
body {
    background-color:rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}







/* Page Grid Layout */
.page-grid {
    display:flex;
    flex-direction: column;
    
    
    
}


.nav_bar{
 height: 10%; 
 width: 100%;
 position: fixed;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 
 background-color:rgb(255, 255, 255);
 border-bottom: solid;
 
 .logo{
    height:100%;
    align-self: center;
    justify-self: center;
 } 
}

/* welcome page */
.home-page-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    
    .welcome_image{
       height: 80%;
       width: 100%;
       overflow: hidden;
       
    
    }
}

/* About Page */
.about-page-grid {
    background-color: black;
    color: aliceblue;
    font-family: roboto;
    
    height:100vh;
}

/* Portfolio Page */
.portfolio-page-grid {
    background-color: rgb(255, 255, 255);
    font-family: roboto;
    height: 100vh;
}

/* Contact Page */
.contact-page-grid {
    background-color: black;
    color: aliceblue;
    font-family: roboto;
    height: 100vh;
}
/* responsive media queries for mobile devices  */
@media only screen and (max-width: 600px) {
   
    
}