/* Atributes of page body */
body {
    background-color:rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}







/* Page Grid Layout */
.page-grid {
    display: grid;
    grid-template-rows: max-content;
    row-gap: 0px;
}


.nav_bar{
 height: 150px; 
 position: fixed;
 background-color:rgb(255, 255, 255);
 width: 100%;
 .logo{
    margin-left: 45%;
    margin-right: 45%;
    height: 100%;
    width: 100%;
  
  

  
 } 
}

/* welcome page */
.home-page-grid {
    display: grid;
    background-color:rgb(255, 255, 255);
    height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    .welcome_image{
       vertical-align: bottom;
       height: 90%;
       width: 100%;
        
    }
}

/* About Page */
.about-page-grid {
    background-color: black;
    color: aliceblue;
    font-family: roboto;
    
    height: 800px;
}

/* Portfolio Page */
.portfolio-page-grid {
    background-color: black;
    font-family: roboto;
    height: 100px;
}

/* Contact Page */
.contact-page-grid {
    background-color: black;
    color: aliceblue;
    font-family: roboto;
    height: 800px;
}
/* responsive media queries for mobile devices  */
@media only screen and (max-width: 1200px) {
    
    
}